<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form class="card card-body bg-dark text-white p-5" action="/signup" method="POST">
        <h3 class="text-center fw-bold mb-4">Registrate</h3>

        <label for="fullname">Escribe tu nombre completo:</label>
        <input type="type" name="fullname" placeholder="Nombre" class="form-control mb-3" autofocus />

        <label for="username">Escriba su correo electr칩nico:</label>
        <input type="email" name="email" placeholder="Ejemplo@gmail.com" class="form-control mb-3" />

        <label for="password">Escribe tu contrase침a:</label>
        <input type="password" name="password1" placeholder="Password" class="form-control mb-3" />

        {{!-- confirmar contrasena --}}
        <label for="password">Confirme su contrase침a:</label>
        <input type="password" name="password2" placeholder="Password" class="form-control mb-3" />

        <button class="btn btn-success btn-block">
          Registro
        </button>
    </div>
    </form>

    {{! Link }}
    <p class="fs-5 text-center text-white mt-3">Ya tienes una cuenta?
      <a href="/signin" class="text-info">Iniciar sesi칩n</a>
    </p>
  </div>
</div>